# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Flask & IDE instance files
instance/
.idea/
.vscode/
*.swp
*.swo

# Database dumps / local DBs
*.sqlite
*.sqlite3
*.db

dataset/train-00000-of-00001.parquet

dataset/prepared/amazon_products_ready.csv

dataset/train-*.parquet
dataset/cleaned/
dataset/prepared/*.csv
dataset/prepared/*.parquet
